body {
    border: 10px solid red;
    margin: 0;
}

div {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
}

p {
    margin: 0;
}

.red {
    background-color: red;  
}

.yellow {
    background-color: yellow;
    margin-left: 200px;
    text-align: center;
}

.green {
    background-color: green;
    text-align: right;
    margin-left: 400px;
}